
<!-- He realizado un test de tipología de Jung:  https://www.humanmetrics.com/personalidad/tipo-infj?EI=-25&SN=-44&TF=-28&JP=31 -->

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h1>Personalidad</h1> : <h3>INFJ</h3>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="25"
            [radius]="100"
            [title]="'Introvertido'"
            [titleFontSize]="'1.6em'"
            [showTitle]="true"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#398400'"
            [innerStrokeColor]="'#f4a020'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="44"
            [radius]="100"
            [title]="'Intuitivo'"
            [titleFontSize]="'1.6em'"
            [showTitle]="true"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#398400'"
            [innerStrokeColor]="'#f4a020'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="28"
            [radius]="100"
            [title]="'Sentimental'"
            [titleFontSize]="'1.6em'"
            [showTitle]="true"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#398400'"
            [innerStrokeColor]="'#f4a020'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="31"
            [radius]="100"
            [title]="'Juicioso'"
            [titleFontSize]="'1.6em'"
            [showTitle]="true"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#398400'"
            [innerStrokeColor]="'#f4a020'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
</div>