    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/perfilPhoto.jpg" class="img-fluid" id="fotoperfil">
        </div>
        
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">{{persona.nombre}} {{persona.apellido}} </p>
            <p>Full Stack Developer Jr</p>
        </div>
    
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mi</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate repellat veniam repudiandae dicta libero quaerat, aut iusto maxime magni doloribus dolores quod odio at, sequi id, qui corporis repellendus dolorem.</p>
            </span>
        </div>
    </div>


