<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Educación 1</h1> - <h3>(years)</h3>

            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, officia ducimus at nulla enim, fugit, rem delectus rerum velit necessitatibus commodi consequatur neque facere temporibus perferendis ipsum illum aliquid quisquam.</p>
        </ul>
        <ul>
            <li>
                <h1>Educación 2</h1> - <h3>(years)</h3>

            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, officia ducimus at nulla enim, fugit, rem delectus rerum velit necessitatibus commodi consequatur neque facere temporibus perferendis ipsum illum aliquid quisquam.</p>
        </ul>
        <ul>
            <li>
                <h1>Educación 3</h1> - <h3>(years)</h3>

            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, officia ducimus at nulla enim, fugit, rem delectus rerum velit necessitatibus commodi consequatur neque facere temporibus perferendis ipsum illum aliquid quisquam.</p>
        </ul>
    </div>
</div>
