<!-- He realizado un test de competencias laborales: https://jobpersonality.co.uk/soft-skills-test -->
<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [title]="'C++'"
            [titleFontSize]="'3em'"
            [showTitle]="true"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#398400'"
            [innerStrokeColor]="'#f4a020'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [title]="'Prolog'"
            [titleFontSize]="'3em'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#398400'"
            [innerStrokeColor]="'#f4a020'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="70"
            [radius]="100"
            [title]="'Haskell'"
            [titleFontSize]="'3em'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#398400'"
            [innerStrokeColor]="'#f4a020'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="45"
            [radius]="100"
            [title]="'HTML'"
            [titleFontSize]="'3em'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#398400'"
            [innerStrokeColor]="'#f4a020'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="65"
            [radius]="100"
            [title]="'Java'"
            [titleFontSize]="'3em'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#398400'"
            [innerStrokeColor]="'#f4a020'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="65"
            [radius]="100"
            [title]="'CSS'"
            [titleFontSize]="'3em'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#398400'"
            [innerStrokeColor]="'#f4a020'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="45"
            [radius]="100"
            [title]="'JS'"
            [titleFontSize]="'3em'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#398400'"
            [innerStrokeColor]="'#f4a020'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [title]="'BetaTester'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#398400'"
            [innerStrokeColor]="'#f4a020'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>    
    
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [title]="'Trabajo Grupal'"
            [titleFontSize]="'1.30em'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#398400'"
            [innerStrokeColor]="'#f4a020'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [title]="'Analítico'"
            [titleFontSize]="'2.3em'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#398400'"
            [innerStrokeColor]="'#f4a020'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [title]="'Creativo'"
            [titleFontSize]="'2.5em'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#398400'"
            [innerStrokeColor]="'#f4a020'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [title]="'Colaborativo'"
            [titleFontSize]="'1.7em'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#398400'"
            [innerStrokeColor]="'#f4a020'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="60"
            [radius]="100"
            [title]="'Autosuficiente'"
            [titleFontSize]="'1.5em'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#398400'"
            [innerStrokeColor]="'#f4a020'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="50"
            [radius]="100"
            [title]="'Impulsado'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#398400'"
            [innerStrokeColor]="'#f4a020'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
   
</div>