<div class="container" *ngIf="proyecto">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre">Nombre del Proyecto:</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="proyecto.nombre"
                        required>
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripcion del Proyecto:</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion"
                        [(ngModel)]="proyecto.descripcion" required>
                </div>
                <div class="form-group">
                    <label for="url">Url del proyecto:</label>url
                    <input type="text" class="form-control" id="url" name="url"
                        [(ngModel)]="proyecto.url_imagen" required>
                </div>
                <div class="form-group">
                    <label for="img">Imagen del Proyecto:</label>
                    <input type="file" class="form-control" id="img" name="img"
                        (change)="uploadImage($event)" accept=".jpg, .jpeg, .png">
                    <br />
                    <img id="blah"
                        [src]="imageService?.url || 'https://images.vexels.com/media/users/3/131734/isolated/preview/05d86a9b63d1930d6298b27081ddc345-photo-preview-frame-icon.png' "
                        alt="your image" />
                </div>
                <button class="mt-3 btn btn-primary">
                    Editar Proyecto
                </button>
                <br>
                
            </form>
        </div>
    </div>
</div>