<div class="row">
  <h1 class="text-white">Proyectos Realizados</h1>
  <div class="col-lg-2">
      <button type="button" class="btn btn-light" routerLink="newproyecto" *ngIf="isLogged">
          Nuevo Proyecto
      </button>
  </div>
  <table class="table">
      <tbody>
          <tr *ngFor="let proyecto of proyecto">
              <td class="text-white">
                  <h3>{{proyecto?.nombre}}</h3>
              </td>
              <td class="text-white">
                  {{proyecto?.descripcion}}
              </td>
              <td>
                 <a href={{proyecto.url_imagen}} target="_blank"><img [src]='proyecto?.img'  alt="" class="img-fluid" id="fotoproyecto" /></a>
              </td>
              <td class="text-white" *ngIf="isLogged">
                  <button class="btn btn-light" routerLink="/editproyecto/{{proyecto.id}}">
                      <i class="bi bi-pencil"></i> Editar
                  </button>
              </td>
              <td class="text-white" *ngIf="isLogged">
                  <button class="btn btn-danger" (click)="delete(proyecto.id)">
                  <i class="bi bi-trash-fill"></i> Borrar
                  </button>
              </td>
          </tr>
      </tbody>
  </table>