<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Encriptador</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, adipisci nulla harum expedita ex voluptas quae! Amet neque nisi iure, quae consectetur reiciendis. Totam consequatur numquam dolor explicabo optio nihil?</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/Portafolio.PNG" class="img-fluid img-proyecto">
        </div>
    </div>
</div>